.detail{
   display: grid;
   grid-template-columns: minmax(400px, 1fr);
   grid-gap:20px;
   width: 80%;
   margin: 70px auto;

   background-color: #fff;
   margin-bottom: 70px;
   font-weight: 300;
   padding: 20px;
   border-radius: 5px;
   color: #adaeb9;
   box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}

@media screen and (max-width: 767px){
   .detail{
      grid-template-columns: 1fr;
      width: calc(100%-140px);
      margin: 50px auto;
   }
}


.detail img{
   position: relative;
   top: -50px;
   max-width: 400px;
   width: 100%;
   margin-right: 30px;
   box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25), 0 18px 36px -18px rgba(0,0,0,0.3), 0 -12px 36px -8px rgba(0,0,0,0.025);
}

.detail .detail__title,
.detail .detail__year{
   margin: 0;
   font-weight: 300;
}

.detail .detail__title{
   margin-bottom: 5px;
   font-size: 24px;
   color: #3b7ffc;
   font-weight: bold;
}

.detail .detail__genres{
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   margin: 5px 0;
}

.detail .detail__genre,
.detail .detail__year{
   margin-right: 10px;
   font-size: 14px;
}

.detail__genres li,
.detail .detail__year{
   margin-right: 10px;
   font-size: 14px;
}